<template name="login">
	<section class="login-wrapper">
		<div class="{{ status }}">
			<div class="user-icon"></div>
			<div class="pass-icon"></div>
			<form name="login-form" action="" method="post">
				<header>
					<h1>Softdent</h1>
					<small>Version 1.0</small>
				</header>
				<section>
					<input name="email" type="email" placeholder="Correo" />
					<input name="password" type="password" placeholder="Contraseña" />
				</section>
				<footer>
					<button type="submit" name="submit">Ingresar</button>
				</footer>
				<span class="loginStatus">{{ message }}</span>
				<!--END FOOTER-->
			</form>
			<!--END LOGIN FORM-->
			<section class="wait" style="display:none;">
				<article>
					<span>Verificando</span>
				</article>
				<article class="spinner">
					<div class="bounce1"></div>
					<div class="bounce2"></div>
					<div class="bounce3"></div>
				</article>
			</section>
		</div>
	</section>
</template>